/*Entire page styles*/
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #c3f1d9;
}

/*Style setting the minimun width of main section to 261px*/
main{
    min-width:261px ;
}
/*Styles for the section labeling the list sections*/
#header {
    display: flex;
    width: 50vw;
    background-color: #9886bc;
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 10px;
    min-width:261px ;
}
#shopping-list-header {
    width: 80%;
    text-align: center;
    border:black 3px solid;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#price-header{
    width: 20%;
    text-align: center;
    border:black 3px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Styles for the shopping list and prices*/
#input-area{
    display:flex;
    width: 50vw;
    padding: 0;
    background-color: #c5aca0;
    border-radius: 10px;
    min-width:261px ;
    
}
#shopping-list{
    width: 82.5%;
    list-style: none;
    padding: 0.2em;
    border:black 3px solid;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#shopping-list input{
    width: 90%;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#prices{
    width: 20%;
    list-style: none;
    padding: 0.2em;
    border:black 3px solid;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#prices input{
    width: 90%;
}

/*Styles for the section containing the taxrate input boxes as well as Total display box*/
#output-section{
    display: flex;
    background-color: #9886bc;
    width: 50vw;
    margin-top: 5px;
    border-radius: 10px;
    min-width:261px ;
}
#TaxRate{
    width: 80%;
    border:black 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
#TaxRate input{
    width: 90%;
    
}
#Total{
    width: 20%;
    border:black 3px solid;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}

/*Styles for the section containing the save and load buttons as well as key input box.*/
#save{
    display: flex;
    width: 50vw;
    background-color: #9886bc;
    margin-top: 5px;
    border-radius: 10px;
    min-width:261px ;
}
.data-buttons {
    width: 40%;
    height: 30px;
    border: inset black 3px;
    background-color: #9886bc;
    
    
}
#Save-Button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#Load-Button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.data-buttons:hover{
    background: rgb(91, 189, 156);
    border: outset black 3px;
}
#save-key{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid black 3px;
    width: 20%;
}

/*Styles for the section containing the Sales tax calculator and the essential pricing section.*/
#extra-inputs{
    display:flex;
    flex-direction: column;
    margin-left: 5px;
    width: 20vw;
    align-self: center;
    height: auto;
    background-color: #9886bc;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 40px;
    min-width:261px ;
    min-height:251px ;
    
}

#essentials-section{
    border: black 3px solid;
    background-color: #c5aca0;
    margin:3px;
    border-radius: 10px;
    padding:3px;
    height: 50%;
}
#essentials-section h1{
    padding: 0;
    margin-top: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
}
#tax-rate-section{
    border: black 3px solid;
    background-color: #c5aca0;
    margin:3px;
    border-radius: 10px;
    padding:3px;
    height: 50%;
}
#tax-rate-section h1{
    padding: 0;
    margin-top: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
}
/*Styles for styling Various popups.*/
.tax-ex{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    right:30%;
    top: -60px;
}

.show {
    visibility: visible;
    
    animation: fadeIn 1s
  }