body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#header {
    display: flex;
    width: 50vw;
    background-color: aquamarine;
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 25%;
}
#shopping-list-header {
    width: 80%;
    text-align: center;
    border:black 3px solid;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#price-header{
    width: 20%;
    text-align: center;
    border:black 3px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#input-area{
    display:flex;
    width: 50vw;
    padding: 0;
    background-color: aqua;
    border-radius: 10px;
    
}
#shopping-list{
    width: 82.5%;
    list-style: none;
    padding: 0.2em;
    border:black 3px solid;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#shopping-list input{
    width: 90%;
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#prices{
    width: 20%;
    list-style: none;
    padding: 0.2em;
    border:black 3px solid;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#prices input{
    width: 90%;
}
#output-section{
    display: flex;
    background-color: aquamarine;
    width: 50vw;
    margin-top: 5px;
    border-radius: 10px;
}
#TaxRate{
    width: 80%;
    border:black 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#TaxRate input{
    width: 90%;
    
}
#Total{
    width: 20%;
    border:black 3px solid;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
#save{
    display: flex;
    width: 50vw;
    background-color: aquamarine;
    margin-top: 5px;
    border-radius: 10px;
}
.data-buttons {
    width: 40%;
    height: 30px;
    border: inset black 3px;
    background-color: aquamarine;
    
    
}
#Save-Button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#Load-Button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.data-buttons:hover{
    background: rgb(91, 189, 156);
    border: outset black 3px;
}
#save-key{
    padding: 0;
    margin: 0;
    text-align: center;
    border: solid black 3px;
    width: 20%;
}


#extra-inputs{
    display:flex;
    flex-direction: column;
    margin-left: 5px;
    width: 20vw;
    align-self: center;
    height: 245px;
    background-color: aquamarine;
    border: black solid 3px;
    border-radius: 10px;
    margin-bottom: 40px;
    
}
#essentials-section{
    border: black 3px solid;
    background-color: aquamarine;
    margin:3px;
    border-radius: 10px;
    padding:3px;
    height: 50%;
}

#tax-rate-section{
    border: black 3px solid;
    background-color: aquamarine;
    margin:3px;
    border-radius: 10px;
    padding:3px;
    height: 50%;
}